*{
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background: #080808;
    color: #fff;
}
#scrollup{
    margin-top: 90vh;
    margin-left: 50lh;
    position: fixed;
    transition: margin-top 0.5s ease-in-out;
    cursor: pointer;
}
nav{
    background-color: yellow;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.5s;
    left: 0;
}
.menu{
    height: 60px;
    margin: 20px;
}
nav ul{
    margin-left: 250px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}
.welcome{
    padding-left: 8%;
    padding-top: 15%;
    color: rgb(237, 237, 237);
    font-size: 30px;
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 100vh;
}
section {
    background-color: rgba(83, 83, 83, 0.361);
    margin: 10px;
    padding: 20px;
    color: white;
    border-radius: 5px;
}
h1{
    font-size: 40px;
    color: yellow;
}
a{
    text-decoration: none;
}
.circle{
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    border: solid 10px;
    border-color: yellow;
    shape-outside: circle();
}
.spoiler {
    color: transparent;
    background-position: right;
    background-size: 100% 100%;
    background-image: linear-gradient(rgb(254, 254, 156),rgb(254, 254, 156));
    display: inline;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
  }
  .spoiler:hover {
    color: #ffffff;
    background-size: 0% 100%;
  }
